@charset "utf-8";

nav.floating{
    position:absolute;
    top: 100px;
    right: 50px;
    background-image: url("../images/blue_fire.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
}

.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/top.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #f40505;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
    font-family: "Yuji Mai", sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}
.footer-logo img {
    width: 100vw;     /* 画面幅いっぱいに伸ばす */
    height: 200px;     
    display: block;   
}
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Yuji Mai", sans-serif;
    font-size: 16pt;
    color: #f10505;
    line-height: 1;
    background-color: #100f0f;
}

img {
    max-width: 100%;
}

.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block;
    width: 170px;
}


.site-menu ul {
    display: flex;
    margin-bottom: 50px;
    margin-top: 200px;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.site-menu ul li {
    margin-left: 40px;
    margin-right: 40px;
    line-height: 2.0;
    border:none;
    border-bottom: 4px double #d16f6f;
    padding-bottom: 5px;
}
.copyright{
    text-align: center;
    line-height: 10;
}

.site-menu ul li a {
    font-family: "Yuji Mai", sans-serif;
}
.main {
    margin-top: 50px;
    padding: 20px;
}

@media (max-width:800px){
    .site-menu ul{
        display:block;
        text-align:center;
    }

     .site-menu li{
        margin-top:20px;
    }

    .header{
        position:fixed;
        top:0;
        left:0;
        right:0;
        background-color: #ffffff;
        height:50px;
        z-index:10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner{
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-logo{
        width:100px;
    }

    .header-site-menu{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736e62;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu.is-show{
        display:block;
    }

    .main{
        padding-top: 50px;
    }

    .footer-logo{
        margin-top: 60px;
    }

    .copyright{
        margin-top:50px;
    }
}